.frame {
    position: relative;
    width: 1440px;
    height: 81px;
}

.frame .header {
    width: 835px;
    padding: 24px 12px;
    left: 219px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.frame .nav {
    display: flex;
    width: 811px;
    height: 33px;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 16px 40px;
    position: relative;
    background-color: #2a2a2a99;
    border-radius: 40px;
}

.frame .gateway-wrapper {
    position: relative;
    width: 61px;
    height: 19px;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

.frame .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tomorrow-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    line-height: 18.9px;
    white-space: nowrap;
}

.frame .notices-wrapper {
    width: 68px;
    position: relative;
    height: 19px;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

.frame .notices {
    position: absolute;
    top: 0;
    left: 5px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tomorrow-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    line-height: 18.9px;
    white-space: nowrap;
}

.frame .events-wrapper {
    width: 51px;
    position: relative;
    height: 19px;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

.frame .depot-wrapper {
    width: 36px;
    position: relative;
    height: 19px;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

.frame .depot {
    position: absolute;
    top: 0;
    left: -3px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tomorrow-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    line-height: 18.9px;
    white-space: nowrap;
}

.frame .contact-wrapper {
    width: 59px;
    position: relative;
    height: 19px;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

.frame .nav-wrapper {
    width: 219px;
    height: 81px;
    padding: 24px 12px 24px 24px;
    left: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.frame .nov-wrapper {
    width: 183px;
    height: 33px;
    gap: 60px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2a2a2a99;
    border-radius: 40px;
}

.frame .nov {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: -10.00px;
    margin-bottom: -8.00px;
    font-family: "Tomorrow-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    line-height: 18.9px;
    white-space: nowrap;
}

.frame .div-wrapper {
    width: 386px;
    height: 81px;
    padding: 24px 24px 24px 12px;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.frame .div {
    width: 350px;
    height: 31px;
    gap: 50px;
    padding: 16px 25px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2a2a2a99;
    border-radius: 40px;
}

.frame .upcoming-launches-wrapper {
    position: relative;
    width: 146px;
    height: 19px;
    margin-top: -10.00px;
    margin-bottom: -10.00px;
}

.frame .t-days {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: -9.00px;
    margin-bottom: -7.00px;
    margin-right: -1.00px;
    font-family: "Tomorrow-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0.30px;
    line-height: 14.5px;
    white-space: nowrap;
}

/* Original CSS code should be injected here */

.frame .text-wrapper {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.frame .notices {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.frame .depot {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.frame .text-wrapper:hover,
.frame .text-wrapper:focus,
.frame .notices:hover,
.frame .notices:focus,
.frame .depot:hover,
.frame .depot:focus {
    opacity: 0.8;
    outline: none;
}

.frame .text-wrapper:focus-visible,
.frame .notices:focus-visible,
.frame .depot:focus-visible {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
    border-radius: 2px;
}
